In [1]:
# 반복문
# for 반복문 : 반복할 횟수가 정해져있는 반복 작업에 사용
# for 변수 in range(반복횟수)
#   반복할 실행문

In [11]:
# for (int index = 0; index < 5; index++) {} - X

# int[] array = {0, 1, 2, 3, 4};
# for (int index : array) {} - O

# range(정수) : 0부터 정수-1 만큼의 길이를 가지는 정수 리스트 생성
# range(시작정수, 종료 정수) : 시작 정수부터 종료 정수 -1 까지의 정수 리스트 생성
# range(시작정수, 종료 정수, 차이정수) : 시작 정수부터 종료정수 -1 까지의 정수 리스트를 생성하는데 차이 정수만큼의 차이를 가지며 변경


print( list ( range ( 5 ) ) )

print("")

for index in range (5) :
    print(index)

print("")

for index in range(5, 10) :
    print(index)

print("")

for index in range(5, 10, 3) :
    print(index)
    
print("")

for index in range(10, -1, -1) :
    print(index)

[0, 1, 2, 3, 4]

0
1
2
3
4

5
6
7
8
9

5
8

10
9
8
7
6
5
4
3
2
1
0

In [11]:
for count in range(1, 10) : 
    print("*" * count)

*
**
***
****
*****
******
*******
********
*********

In [23]:
for count in range(10, 0, -1) : 
    print("*" * count)

**********
*********
********
*******
******
*****
****
***
**
*

In [41]:
for count in range (1, 20) :
    if count <= 10 :
        print ("*" * count)
    else :
            print ("*" * (20-count))

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [42]:
for count in range (1, 12) :
    if count <= 6 :
        print(" " * (6 - count) + "*"  *  (count * 2 - 1))
    else :
        print(" " * (count - 6) + "*" * ( (12 - count) * 2 - 1))

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [49]:
for count in range(1, 12) :
    star = "*"
    if count <= 6 :
        star = "*" * (count* 2 - 1)
    else :
        star = "*" *((12 - count) * 2 - 1)
    print(f'{star:^11}')

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [52]:
for a in range(4) :
    for b in range(4) :
        print(a + b, end=" ")
    print(" ")

0 1 2 3
1 2 3 4
2 3 4 5
3 4 5 6

In [53]:
for start in range(4) :
    for value in range(start, start + 4) :
        print(value, end=" ")
    print(" ")

0 1 2 3
1 2 3 4
2 3 4 5
3 4 5 6

In [58]:
for a in range(1, 7) : 
    for b in range(1, 7) :
        if (a + b) % 4 == 0 :
            print(f'{a} {b}')

1 3
2 2
2 6
3 1
3 5
4 4
5 3
6 2
6 6

In [70]:
#어떤 주식의 가격은 매일 한 번 동전을 던져서 앞면이 나오면 전날 가격의 2배가 되고, 뒷면이 나오면 전날 가격의 절반이 된다.
# 1일에 주식의 가격이 1,024원이었을 때, 4일 주식의 가격이 나올 수 있는 경우를 모두 구한다. (힌트: for 반복문이 3개 중첩되어야 한다)

2

In [80]:
for day1 in range (2) :
    for day2 in range(2) :
        for day3 in range(2) :
            for day4 in range(2) :
                print (1024 * 2**(2*day1 - 1) * 2**(2*day2 - 1) * 2**(2*day3 - 1) * 2**(2*day4 - 1) )
                print (f' {day1}  {day2}  {day3}  {day4} ')

64.0
 0  0  0  0
256.0
 0  0  0  1
256.0
 0  0  1  0
1024.0
 0  0  1  1
256.0
 0  1  0  0
1024.0
 0  1  0  1
1024.0
 0  1  1  0
4096.0
 0  1  1  1
256.0
 1  0  0  0
1024.0
 1  0  0  1
1024.0
 1  0  1  0
4096.0
 1  0  1  1
1024.0
 1  1  0  0
4096.0
 1  1  0  1
4096.0
 1  1  1  0
16384
 1  1  1  1

In [82]:
for count in range (1, 11) :
    sum = 0
    for value in range(count + 1) :
        sum += value
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [86]:
# 다음과 같은 수열이 있을 경우에 10 번째 수열의 값을 구한다.

# 1
# 1+(1+2)
# 1+(1+2)+(1+2+3)
# 1+(1+2)+(1+2+3)+(1+2+3+4)

SyntaxError: invalid syntax (3137525201.py, line 5)

In [87]:
sum = 0

for count in range (1, 11) :    
    for value in range(count + 1) :
        sum += value
    print(sum)

1
4
10
20
35
56
84
120
165
220