In [2]:
import pandas as pd
import numpy as np
import seaborn

### `merge` 함수를 통한 데이터프레임 병합
`merge()` 메서드로 공통 열 혹은 행을 기준으로 두 개의 데이터 프레임을 병합 할 수 있음, 병합의 기준이 되는 열 혹은 행을 '키(key)'라고 함  

기본적으로 `merge()`  메서드는 **inner join** 형태를 가짐  
**outer(full), left, right join** 형태로 변경하고자 한다면 `how` 인수에 조인 방식을 지정함

In [3]:
df1 = pd.DataFrame(
    {
        '고객번호' : [1001, 1002, 1003, 1004, 1005, 1006, 1007],
        '이름' : ['둘리', '도우너', '또치', '길동', '희동', '마이콜', '영희']
    }, columns = ['고객번호', '이름',]
)

df1

   고객번호   이름
0  1001   둘리
1  1002  도우너
2  1003   또치
3  1004   길동
4  1005   희동
5  1006  마이콜
6  1007   영희