### 판다스 패키지
데이터를 시계열이나 표로 표현하기 위한 패키지  
시계열을 표현하는 `Series` 클래스와 표로 표현하는 `DataFrame` 클래스 존재함  
  
판다스 패키지를 사용하기 위해서는 패키지를 설치해야한다.  
```bash
pip install pandas
```
  
패키지를 임포트할 때는
```python
import pandas
import pandas as pd
```  
  
pandas 3.0 이상 버전부터는 Pyarrow 패키지가 필수 의존 패키지로 지정하지 않으면  
```bash
pip install pyarrow
```  
로 Pyarrow 설치 권장

In [3]:
import pandas as pd

### 시리즈 클래스
1차원의 시계열 데이터를 표현하고자 할 때 사용하는 클래스로 인덱스 인덱스와 같이 한쌍으로 나열되있는 형태  
시리즈를 생성하는 방법 : pandas 패키지의 `Series` 클래스의 생성자로 값과 인덱스에 대한 배열 혹은 리스트를 전달하면 생성할 수 있음

In [2]:
# index를 지정하지 않으면 0부터 시작하는 정수의 인덱스 값이 자동으로 생성됨
scores = pd.Series([85, 70, 100, 90, 55], index= ['홍길동', '김철수', '이영희', '최민수', '박지성'])
scores

홍길동     85
김철수     70
이영희    100
최민수     90
박지성     55
dtype: int64

In [ ]:
# 인덱스 배열의 요소는 중복이 되어도 됨
scores = pd.Series([85, 70, 100, 90, 55], index=['홍길동', '김철수', '이영희', '최민수', '박지성'])
scores

In [ ]:
# index를 지정하지 않으면 0부터 시작하는 정수의 인덱스 값이 자동으로 생성됨
scores = pd.Series([85, 70, 100, 90, 55])
scores

Series 객체의 index와 values 들을 보고자 한다면 `index` 속성과 `values`속성으로 확인 할 수 있음

In [4]:
scores.index

Index(['홍길동', '김철수', '이영희', '최민수', '박지성'], dtype='object')

In [5]:
scores.values

array([ 85,  70, 100,  90,  55], dtype=int64)

`name` 속성으로 value에 대한 이름을 부여할 수 있음
`index.name` 속성으로 index에 대한 이름을 부여할 수 있음

In [4]:
scores.name = '점수'
scores.index.name = '이름'
scores

이름
홍길동     85
김철수     70
이영희    100
최민수     90
박지성     55
Name: 점수, dtype: int64

In [4]:
#
scores = pd.Series([85, 70, 100, 90, 55], index= ['홍길동', '김철수', '이영희', '최민수', '홍길동'])
scores

홍길동     85
김철수     70
이영희    100
최민수     90
홍길동     55
dtype: int64

### 시리즈 연산
시리즈도 numpy 배열과 같이 백터화 연산이 가능하다.  
단, 연산 작업은 값에만 적용됨

In [5]:
scores * 0.4

홍길동    34.0
김철수    28.0
이영희    40.0
최민수    36.0
홍길동    22.0
dtype: float64

In [6]:
scores >= 60

홍길동     True
김철수     True
이영희     True
최민수     True
홍길동    False
dtype: bool

In [7]:
scores2 = pd.Series([60, 100, 90, 70, 95], index= ['홍길동', '김철수', '이영희', '최민수', '박지성'])
scores2

홍길동     60
김철수    100
이영희     90
최민수     70
박지성     95
dtype: int64

In [8]:
scores + scores2

김철수    170.0
박지성      NaN
이영희    190.0
최민수    160.0
홍길동    145.0
홍길동    115.0
dtype: float64

#### 시리즈 인덱싱
시리즈도 리스트나 배열과 같이 인덱스 번호로 접근이 가능  
단, 시리즈는 index 값으로도 접근이 가능하다.  
배열 인덱싱이나 슬라이싱 모두 가능하다.

In [ ]:
scores[1], scores['김철수']