In [3]:
import pandas as pd
import numpy as np

### 데이터 프레임 고급 인덱싱
판다스 데이터프레임의 인덱싱은 라벨, 라벨 리스트, 행 인덱스 슬라이스의 인덱싱 형태 뿐만 아니라 numpy와 같은 `,` 를 이용한 `(행 인덱스, 열인덱스)` 형식의 2차원 인덱스도 제공함  
  
- `loc` 속성 : 라벨 기반의 2차원 인덱서  
- `iloc` 속성 : 순서를 나타내는 정수 기반의 2차원 인덱서

### `loc` 인덱서
행 인덱스 값과 열 인덱스 값을 이용하여 인덱싱을 해주는 인덱서  
  
```python
df.loc[행인덱스값]
df.loc[행인덱스값, 열인덱스값]
```

In [4]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4), index=['a','b','c'], columns=['A', 'B', 'C', 'D'])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [5]:
df.loc['a']

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [6]:
df.loc[['a', 'b']]

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [7]:
df.loc['a':'b']

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [8]:
df.loc[['a']]

    A   B   C   D
a  10  11  12  13

In [9]:
df.loc[df.A > 13]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

인덱스 값으로 열 인덱스 값을 반환하는 함수를 사용 할 수 있음

In [13]:
def select_rows(df) :
    return df.A > 12

In [14]:
df.loc[select_rows(df)]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

`loc` 없이 인덱싱을 할때는 ` [] `에 열 인덱스에 대한 인덱싱을 하였는데 `loc`는 열 인덱싱으로 지정할 수 없음